*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}
header{
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    gap: 30px;
}
.headerLeft{
    display: flex;
    align-items: center;
}
.logo{
    padding: 24px 30px;
    border-right: 1px solid #ccc;
}
.headerAddress{
    padding: 20px 30px;

}
.headerAddress h3{
    font-size: 18px;
    margin-bottom: 5px;
}
.headerAddress p{
    font-size: 14px;
}
.searchBox{
    
    flex-grow: 1;
    display: flex;
    background-color: #f8f8f8;
    border: 1px solid #f4f4f4;
    border-radius: 15px;
}
.searchBox input{
    flex-grow: 1;
    background-color: transparent;
    border: none;
}
.searchBox button{
    padding: 15px;
    background-color: transparent;
    border: none;
}
.headerBtn{
    display: flex;
    margin-right: 40px;
    gap: 40px;

}
.headerBtn button{
    padding: 15px;
    background-color: transparent;
    border: none;
    font-size: 16px;

}
.searchBox input :focus{
    outline: none;
}
.headerBtn button:last-child{
    background-color: rgb(12,131,31);
    color: white;
    border-radius: 5px ;
    font-weight: bold;
}